<div  *ngIf="tickets">

<div *ngIf="loadCountBlock">
  <p>Количество туров:  {{tickets.length}}</p>
  <p>Выбранный тур:  {{blockDirective.activeElementIndex+1}}</p>

</div>

<div appBlocksStyle
     #tourWrap
     #blockDirective='blockStyle'
     [selector]="'.ticket-item'"
     [initFirst]="false"
     (renderComplete)="directiveRenderComplete($event)"
     class="d-flex flex-wrap justify-content-around">
  <div (click)="goToTicketInfoPage(item)"
    *ngFor="let item of tickets; let i=index"
       class="ticket-item col-3 m-2">
    <div class="ticket-title">{{item.name}}</div>
    <div class="ticket-img">
      <img class="w-100" src="/assets/img/{{item.img}}"/>
    </div>
  </div>
</div>

</div>
